---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/sections/Hero.astro';
import Idag from '../components/sections/Idag.astro';
import Meny from '../components/sections/Meny.astro';
import Story from '../components/sections/Story.astro';
import Reservera from '../components/sections/Reservera.astro';
import HittaHit from '../components/sections/HittaHit.astro';
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <Idag />
    <Meny />
    <Story />
    <Reservera />
    <HittaHit />
  </main>
  <Footer />
</BaseLayout>
